* {
    margin: 0px;
    padding: 0px;
}

.insidediv {
    border: 2px solid rgb(186, 157, 157);
    width: 30%;
    margin: 0px 10px;
}

#maindiv {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    overflow: scroll;
    border: 2px solid blue;
    padding: 10px;

}